body {
  background-color: green;
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
  font-style: italic;
  font-family: helvetica;
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS";
}

p {
  text-align: center;
  border-width: normal;
  border-style: groove;
  border-color: purple;
  display: inline;

}

ul {
  align: center;
}
